.transparent {
  background-color: transparent;
}

.primary-bg {
  background-color: $primary;
}

.secondary-bg {
  background-color: $secondary;
}

.white-bg {
  background-color: $white;
}

.black-bg {
  background-color: $black;
}

.gray10-bg {
  background-color: $gray-10;
}

.secondary-text {
  color: $secondary;
}

.gray2-text {
  color: $gray-2;
}

.gray3-text {
  color: $gray-3;
}

.gray5-text {
  color: $gray-5;
}

.gray7-text {
  color: $gray-7;
}

.gray8-text {
  color: $gray-8;
}

.gray9-text {
  color: $gray-9;
}

.green-text {
  color: $green;
}

.black-text {
  color: $black;
}

.white-text {
  color: $white;
}
