// Colors

$primary: #FDE9D4;
$secondary: #F79931;
$black: #000;
$white: #fff;
$gray: #CCCCCC;
$gray-2: #4A4A4A;
$red: #ff0000;
$gray-3: #333333;
$gray-4: #707070;
$gray-5: #9B9B9B;
$gray-6: #E8E8E8;
$gray-7: #515151;
$gray-8: #121212;
$gray-9: #909090;
$gray-10: #f9f9f9;
$orange: #D4C4B3;
$green: #3DBB61;
$red: #ff0000;
// @import 'bootstrap/scss/bootstrap.scss';
// @import 'bootstrap-vue/src/index.scss';
